<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception"/>
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <file value="C:\Users\Flori\source\repos\SWE2_Repos\TourPlanner\Logs\MyLogFile.txt" />
      <appendToFile value="true" />
      <lockingMode type="log4net.Appender.FileAppender+Minimallock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception"/>
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <file value="C:\Users\Flori\source\repos\SWE2_Repos\TourPlanner\Logs\RollingLogFile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [%logger] %level - %message%newline%exception"/>
      </layout>
    </appender>

    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>  
      <layout type="log4net.Layout.PatternLayout">  
        <conversionPattern value="%date{ABSOLUTE} %level - %message%newline%exception"/>  
      </layout>  
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="DebugAppender"/>
      <appender-ref ref="RollingFileAppender" />
      <!-- Other appenders
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
      -->
    </root>
  </log4net>

  <appSettings>
    <add key="DALSqlAssembly" value ="TourPlanner"/>
    <add key="ImagePath" value="C:\Users\Flori\source\repos\SWE2_Repos\TourPlanner\TourPlanner\TourPlanner\Images\TourImages\"/>
    <add key="MapQuestKey" value="XVlbltg2ISGeJrcXp4zReX9K7Dd3ow0k"/>
  </appSettings>

  <connectionStrings>
    <add name ="PostgresSqlConnectionString" connectionString="Server=127.0.0.1;Port=5432;Database=tourplanner;User Id=postgres;Password=postgres;"/>
  </connectionStrings>
</configuration>